{% extends 'base.html' %}

{% block content %}
<main class="flex-grow-1">
  {% for category, message in get_flashed_messages(True) %}
    {% if category == 'success'%}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% elif category == 'not success' %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
  <div class="container-lg mt-3">
    <h1>Сайт: {{ check_data[0][1] }}</h1>
  <div class="table-responsive">
      <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
          <tr>
            <td>ID</td>
            <td>{{ check_data[0][0] }}</td>
          </tr>
          <tr>
            <td>Имя</td>
            <td>{{ check_data[0][1] }}</td>
          </tr>
          <tr>
            <td>Дата создания</td>
            <td>{{ check_data[0][2] }}</td>
          </tr>
        </tbody>
      </table>
</div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="{{ url_for('check_url', id=check_data[0][0])}}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    
  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    {% if check_data[0][3] %}
      {% for data in check_data %}
        <tbody>
          <td>{{ data[3] }}</td>
          <td>{{ data[4] }}</td>
          <td>{{ data[5] }}</td>
          <td>{{ data[6] }}</td>
          <td>{{ data[7] }}</td>
          <td>{{ data[8] }}</td>
        </tbody>
      {% endfor %}
    {% endif %}
    </table>
  </div>
</main>
{% endblock %}