{% extends 'base.html' %}

{% block content %}
<main class="flex-grow-1">
  <div class="container-lg mt-3">
    <h1>Сайты</h1>   
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
          <thead>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Последняя проверка</th>
              <th>Код ответа</th>
            </tr>
          </thead>
          {% for url in urls %}
          <tbody>
            <tr>
              <td>{{ url.id }}</td>
              <td>
                <a href="{{ url_for('get_url_data', id=url[0]) }}">
                  {{ url.name }}
                </a>
              </td>
              {% if url.status_code %}
                <td>{{ url.max }}</td>
                <td>{{ url.status_code }}</td>
              {% else %}
                <td></td>
                <td></td>
              {% endif %} 
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </main>
{% endblock %}